.paseadoresSectionPa, .eventosSectionPa{
    overflow: scroll;
    height: 550px;
    overflow-x: hidden;
    margin-top: 2px;
}

.paseadoresSectionPa::-webkit-scrollbar, .eventosSectionPa::-webkit-scrollbar{
    background: rgb(184, 181, 181);
    width: 7px;
    border-radius: 50px;
}

.paseadoresSectionPa::-webkit-scrollbar-thumb, .eventosSectionPa::-webkit-scrollbar-thumb{
    background: rgb(113, 111, 111);
}

.eventoSection{
    margin: 10px;
}